<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Welcome to Nordic Motorhome Rentals</title>
</head>
<body>

<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav>

        <ul>

            <li><a href="customerAdministration" class="active">Administration</a></li>
            <li><a href="createCustomer" class="active">Create Customer</a></li>
            <!-- <li><a href="editCustomer" class="active">Edit Customer</a></li> -->
            <li><a href="findCustomer" class="active">Find Customer</a></li>
            <li><a href="allCustomers" class="active">All Customers</a></li>
            <!-- <li><a href="deleteCustomer" class="active">Delete Customer</a></li> -->

        </ul>

    </nav>

</header>

<div class="container">

    <h1>Hello World!!</h1>

</div>
</body>
</html>