<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Welcome to Nordic Motorhome Rentals</title>
</head>
<body>

<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav>

        <ul>
            <li><a href="/" class="active">Nordic Motorhome Rental</a></li>
            <li><a href="customerAdministration" class="active">Customer Administration</a></li>
            <li><a href="motorhomeAdministration" class="active">Motorhome Administration</a></li>

        </ul>

    </nav>

</header>

<div class="container">

    <h1>Hello World!!</h1>

</div>
</body>
</html>