<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Create new customer</title>
</head>
<body>

<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav>

        <ul>

            <li><a href="customerAdministration" class="active">Administration</a></li>
            <li><a href="createCustomer" class="active">Create Customer</a></li>
            <!-- <li><a href="editCustomer" class="active">Edit Customer</a></li> -->
            <li><a href="findCustomer" class="active">Find Customer</a></li>
            <li><a href="allCustomers" class="active">All Customers</a></li>
            <!-- <li><a href="deleteCustomer" class="active">Delete Customer</a></li> -->

        </ul>

    </nav>

</header>

<div class="container">
        <h1>Create customer</h1>

        <form th:action="@{/createCustomer}" th:object="${customer}" method="post">

            <!--<table> -->
            <tr>
                <th>First Name:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusFirstName}" placeholder="First name"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Last Name:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusLastName}" placeholder="Last name"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Street and Number:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusAddress}" placeholder="Street and Number"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Zip Code:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusZip}" placeholder="Zip Code"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>City:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusCity}" placeholder="City"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Phone Number:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusPhone}" placeholder="Phone number"/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Drivers License Number:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusDriversLicense}" placeholder="Drivers License No."/>
                    </label>
                </td>
            </tr>
            <br>
            <tr>
                <th>Email:</th>
                <td>
                    <label>
                        <input type="text" th:field="*{cusEmail}" placeholder="Email"/>
                    </label>
                </td>
            </tr>

            <!-- </table> -->
            <br>
            <input type="submit" value="Create customer">
        </form>
    </div>

</body>
</html>