<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Administrate customer</title>
</head>
<body>

<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav>

        <ul>

            <li><a href="customerAdministration" class="active">Administration</a></li>
            <li><a href="createCustomer" class="active">Create Customer</a></li>
            <!-- <li><a href="editCustomer" class="active">Edit Customer</a></li> -->
            <li><a href="findCustomer" class="active">Find Customer</a></li>
            <li><a href="allCustomers" class="active">All Customers</a></li>
            <!-- <li><a href="deleteCustomer" class="active">Delete Customer</a></li> -->

        </ul>

    </nav>

</header>

<div class="container">

    <h1>Administrate customer</h1>

<!-- Buttons -->

    <!-- Create button -->

    <a href="createCustomer"><button>Create customer</button></a>

    <!-- Edit button -->

<!--    <a href="editCustomer"><button>Edit customer</button></a> -->

    <!-- Find single customer button -->

    <a href="findCustomer"><button>Find customer</button></a>

    <!-- List of all customers button -->

    <a href="allCustomers"><button>See all customers</button></a>

    <!-- Delete button -->

<!--    <a href="deleteCustomer"><button>Delete customer</button></a> -->


</div>

</body>
</html>