<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Motorhome Administration</title>
</head>
<body>
<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav>

        <ul>
            <li><a href="/" class="active">Nordic Motorhome Rental</a></li>
            <li><a href="customerAdministration" class="active">Customer Administration</a></li>
            <li><a href="motorhomeAdministration" class="active">Motorhome Administration</a></li>

        </ul>

    </nav>

</header>

<div class="container">

    <h1>Administrate Motorhome</h1>

    <!-- Buttons -->

    <!-- Create button -->

    <a href="createMotorhome"><button>Create Motorhome</button></a>

    <!-- Edit button -->

    <!--    <a href="editCustomer"><button>Edit customer</button></a> -->

    <!-- Find single customer button -->

    <a href="findMotorhome"><button>Find motorhome</button></a>

    <!-- List of all customers button -->

    <a href="allMotorhomes"><button>See all Motorhomes</button></a>

    <!-- Delete button -->

    <!--    <a href="deleteCustomer"><button>Delete customer</button></a> -->


</div>

</body>
</html>